# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Old files
/old_files
/__old_file_ver__
/__images__

# docx
*.docx

.env
structure.txt
PROJECT_STRUCTURE.md
generate-structure.cjs
*zip
*.7z
*.tar.gz
*.rar
*.bak
*.tmp
*.backup
*.old
*.orig
*.log
*.sql
*.sqlite
*.db
*.csv
./images/projects/archive/*
public/images/projects/archive/